@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  /* Cores semânticas iniciais */
  --color-pendente: #ef4444; /* vermelho */
  --color-resolvendo: #f59e0b; /* laranja */
  --color-ok: #3b82f6; /* azul */
  --color-corrigido: #10b981; /* verde */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
